<h3>Shopping for {{purchase.vendor}}, total {{purchase.amount}}£</h3>
<div class="container-fluid" >
    <!--<form stripe:form="saveCustomer">-->
    <form stripe-form="stripeCallback">
        <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card"/>
        <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry"/>
        <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
        <button type="submit">Submit</button>
    </form>
</div>