<div class="container-fluid" >

    <div class="row">
        <div class="col-md-12">
            <p>Purchase {{gift.title}}</p>
        </div>
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>Select amount:</label>
                <div class="input-group">
                    <input type="text" placeholder="between {{gift.lowerAmount}}£ and {{gift.higherAmount}}£">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label>Your name:</label>
                <div class="input-group">
                    <input type="text">
                </div>
            </div>

            <div class="col-md-4">
                <label>Recipient's name:</label>
                <div class="input-group">
                    <input type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label>Your e'mail:</label>
                <div class="input-group">
                    <input type="email">
                </div>
            </div>

            <div class="col-md-4">
                <label>Recipient's e'mail:</label>
                <div class="input-group">
                    <input type="email">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>Write a quick note:</label>
                <div class="input-group input-group-lg">
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>

    </form>

</div>