<h3>Shopping for {{purchase.vendor}}, total £{{purchase.amount}}</h3>
<small>Processing fee: £{{purchase.amount*0.034+0.2}}</small>
<div class="container-fluid" >
    <!--<form stripe:form="saveCustomer">-->
    <form stripe-form="stripeCallback">
        <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card"/>
        <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry"/>
        <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
        <!--<p hidden ng-model="name" value="{{purchase.senderEmail}}"></p>-->
        <button type="submit" >Submit</button>
    </form>

    <br>
    <div ng-show="backHomeButtonVisible">
        <p>Thank you, we are processing your payment. </p>
        <p>We will send you an e'mail when the payment is confirmed.</p>
        <a href="#/agifts">Home</a>
    </div>
</div>