<div class="container-fluid" >
    <div class="row">

        <div class="col-md-2">
            Search <input ng-model="query.title">
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <div class="thumbnail" ng-repeat="gift in gifts | filter:query">
                    <!--<img data-src="{{gift.image_url}}">-->
                    <div class="caption">
                        <a href="#/agifts/{{gift.id}}"> {{gift.title}} </a>
                        <p>{{gift.shortDescription}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>